

#main-container{
  padding-top: 60px;
  padding-bottom: 80px;
}

#channel-header{
  margin-top: 10px;
  margin-bottom: 50px;
}

.relat{
  position: relative;
}

.bod{
  width: 84%;
  margin: 0 auto;

}

.logico{
  height: 200px;
  position: absolute;
  right: 120px;
  z-index: 10;
}

.logoimg{
  width: 7em!important;
}

.backlog{
  background: url(/static/img/loginback-16.png);
  background-size: cover;
  height: 700px;
}

.leftt{
  margin-left: 50px!important;
  text-align: left;
  margin-top: 150px;

}

.corrizq{
  margin-left: 40px;
}

.tit{
  margin-bottom: 30px!important;
}

.verde{
  background-color: #21ba45;
  color: #fff!important;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}

.contenedor{
  padding-top: 25%;
}

.ui.header>.icon{
    display: table-cell;
    opacity: 1;
    font-size: 1.5em;
    padding-top: 0;
    vertical-align: top;
}

.filterbar{
  margin-top: 10px;
  margin-bottom: 20px;
}

.filtertitle{
  margin-top: 30px !important;
}

.filteroption{
  margin-right: 10px;
}

.countrecords{
  display: inline-block;
  margin-top: 20px;
}

.countlab{
  margin-right: 10px;
}

.card{
  width: 270px !important;
}

.h2cont{
  margin-top: 20%;
  margin-bottom: 13%;
}

.login{
  max-width: 450px !important;
  top: 50px;
  position: absolute;
  right: 50px;
  width: 360px;
  top: 100px;
}

.cuerpologi{
  background-color: rgb(68, 68, 68)!important;
  color: #fff!important;
}

.ui.form .field{
  clear: both;
  width: 80%;
  margin: 2em auto;
}

.hidden.menu {
  display: none;
}

.ui.secondary.inverted.pointing.menu {
  box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
  border-width: 0;
}

.ui.secondary.pointing.menu .item {
  margin: 0 0;
}

.banner{
  text-align: center;
}

.img-banner{
  background-size: cover;
  width: 100%;
  height: 500px;
}

.masthead h1.ui.header {
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 2em;
    font-weight: normal;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: url(/static/img/homeimg-16.png);
    background-size: cover;
    height: 500px;
}

.navegation{
  width: 100%;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.subtitle{
  color: #8a8a8a;
  font-size: 1rem;
}

.cont-cent{
  text-align: center;
  margin: 3em auto;
}

.cent{
  text-align: center;
}

.text-small-banner{
  font-size: 1.2rem;
}

p{
  text-align: justify !important;
}

.normal-text{
  font-size: 1.4rem;
  width: 90%;
  margin: 0 auto;
}

.titulo{
  color: #21ba45 !important;
}

.gray{
  background-color: #f1f4f5;
  padding-bottom: 3em;
}

.ico{
  height: 100px;
  margin: 0 auto;
}

.card-img{
  width: 100%;
  height: 200px;
  margin-bottom: -6px;
}

audio, video{
    width: 100%;
    margin-bottom: -6px;
    margin-top: -6px;
}


.location{
  margin: -.5rem 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  color: rgba(0,0,0,.4);
}

.player{
  position: absolute !important;
  left: 10px;
  bottom: 10px;
}

.detail{
  top: 205px;
  left: 14px;
  max-height: 30px;
}

.ui.teal.button, .ui.teal.buttons .button{
  background-color: #21ba45;
  width: 50%;
  margin: 1em auto;
}

.card-location{
  position: absolute;
  padding: 15px;
  color: black;
}
.card-location-image{
  opacity: 0.5;
  position: relative;
  width: 100%;
  height: 60px;
}

.flavatar{
  display: inline-block;
  border-radius: 50px;
  width: 35px !important;
  height: 35px !important;
  text-align: center !important;
  padding-top: 8px;
  font-size: 16px;
  font-weight: 700;
}

.map-wrapper{
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 600px;
  z-index: 0;
  overflow: hidden;
}

#channel-map {
  height: 100%;
}

.leaflet-popup-content {
    margin: 0px;
    min-height: 180px;
    min-width: 270px;
}

.leaflet-popup-content-wrapper {
    padding: 0px;
    border-radius: 0px;
}

.chart{
  min-height: 300px;
}

.statistics{
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer{
  text-align: center;
  background-color: #444;
  color: #fff;
  padding: 13px 20px;
}

@media only screen and (max-width: 770px) {
      #main-container{
        padding-top: 30px;
        padding-bottom: 40px;
      }
      h4{
        font-size: 0.8em;
      }
      .ui.fixed.menu {
        display: none !important;
      }
      .ui.inverted.segment, .ui.primary.inverted.segment {
          height: 200px;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 1em;
        margin-top: 5.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1em;
      }
      .cont-cent {
        margin: 1.5em auto;
      }
      .normal-text{
        font-size: 1.1rem;
      }
      .titulo{
        font-size: 1.4rem;
      }
      .subtitle{
        font-size: 0.9rem;
      }
    }
