
#main-container{
  padding-top: 60px;
  padding-bottom: 80px;
}

#channel-header{
  margin-top: 10px;
  margin-bottom: 30px;
}

.card{
  width: 270px !important;
}

.card-img{
  width: 100%;
  height: 200px;
  margin-bottom: -6px;
}

audio, video {
    width: 100%;
    margin-bottom: -6px;
    margin-top: -6px;
}


.location{
  margin: -.5rem 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  color: rgba(0,0,0,.4);
}

.player{
  position: absolute !important;
  left: 10px;
  bottom: 10px;
}

.card-location{
  position: absolute;
  padding: 15px;
  color: black;
}
.card-location-image{
  opacity: 0.5;
  position: relative;
  width: 100%;
  height: 60px;
}

.flavatar{
  display: inline-block;
  border-radius: 50px;
  width: 35px !important;
  height: 35px !important;
  text-align: center !important;
  padding-top: 8px;
  font-size: 16px;
  font-weight: 700;
}
