
#main-container{
  padding-top: 60px;
  padding-bottom: 80px;
}

.card-img{
  width: 100%;
  height: 200px;
}

audio, video {
    width: 100%;
    margin-bottom: -6px;
    margin-top: -6px;
}


.location{
  margin: -.5rem 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  color: rgba(0,0,0,.4);
}

.flavatar{
  display: inline-block;
  border-radius: 50px;
  width: 35px !important;
  height: 35px !important;
  text-align: center !important;
  padding-top: 8px;
  font-size: 16px;
  font-weight: 700;
}
