Django==1.11
Markdown==2.6.8
MySQL-python==1.2.5
Pillow==4.1.0
argparse==1.2.1
django-cors-headers==2.0.2
django-filter==1.0.2
djangorestframework==3.6.2
drf-nested-routers==0.90.0
olefile==0.44
psycopg2==2.7.1
pytz==2017.2
wsgiref==0.1.2
