{% load web_client_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Evoca v2 | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/static/semantic/dist/semantic.min.js"></script>
    {% block header %}{% endblock %}
  </head>
  <body>
      {% include 'menu.html' with channels=get_channels_list %}
      <div class="ui container" id="main-container">
        {% block body %}
        {% endblock %}
      </div>
  </body>
  <footer>
      {% block scripts%}
        <script src="/static/js/app.js"></script>
      {% endblock%}
      {% block footer %}{% endblock %}
  </footer>
</html>
