{% load web_client_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evoca v2 | {% block title %}{% endblock %}</title>
    {% block header %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/semantic/source/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  </head>
  <body>

      {% block menu %}

      <div class="ui vertical borderless green inverted sidebar menu">
        <a class="active item">Menú</a>
        <a class="item">Login</a>
        <a class="item">Signup</a>
        <div class="right menu">
          <a href="/channels" class="header item">
            EVOCA
          </a>
        </div>
      </div>

      <div class="navegation masthead">
        <div class="ui secondary borderless green inverted pointing menu menug">
          <div class="ui container">
            <a class="toc item">
              <i class="sidebar icon"></i>
            </a>
            <a href="/channels" class="header item">
              EVOCA
            </a>
            {% block sub_menu %}
            {% endblock %}
            <div class="right menu">
              <a href="/admin/" class="item">
                 <i class="setting icon"></i> admin
              </a>
              {% if user.is_authenticated %}
              <a href="/cerrar/" class="item">Salir</a>
              {% endif %}
            </div>

          </div>
        </div>
      </div>


      <!--<div class="ui borderless bottom fixed menu">
        <div class="ui container">
           <div class="item">
            EVOCA is licensed under the GNU General Public License v3.0 and available at &nbsp;<a href="https://github.com/jovencoda/evoca-v2">Github</a>
          </div>
        </div>
      </div>-->
      {% endblock %}

      <!-- Full width -->
      {% block wrapper %}
      {% endblock %}

      <div class="ui container" id="main-container">
        <!-- Contained -->
        {% block body %}
        {% endblock %}
      </div>
  </body>
  <footer>
      {% block scripts%}
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="/static/semantic/source/semantic.min.js"></script>
        <script src="https://fastcdn.org/D3.js/3.5.6/d3.min.js"></script>
        <script src="https://d3js.org/d3-time.v1.min.js"></script>
        <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
        <script src="/static/js/app.js"></script>

        {% block footer %}
        <div class="footer">
          EVOCA is licensed under the GNU General Public License v3.0 - 2017
        </div>
        {% endblock %}
      {% endblock%}
  </footer>
</html>
