{% extends "base.html" %}
{% load web_client_tags %}

{% block title %}Channels{% endblock %}

{% block body %}

  <h1 class="ui header"><i class="hashtag icon"></i>Channels</h1>
  <div class="ui cards">

    {% for channel in object_list %}
      <a class="ui card" href="/{{ channel.slug }}">
        <div class="image">
          <img src="/{{ channel.image }}" alt="">
        </div>
        <div class="content">
          <div class="header">{{ channel.name }}</div>
          <div class="meta">{{ channel.created_at }}</div>
          <div class="description">
            {{ channel.about }}
          </div>
        </div>
      </a>
    {% endfor %}

  </div>

{% endblock %}
