{% extends "base.html" %}
{% load web_client_tags %}

{% block title %}Channels{% endblock %}

{% block wrapper %}
<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui text container leftt">
    <h1 class="ui inverted header text-banner">
       CARTOGRAFÍAS <br> PARTICIPATIVAS
    </h1>
    <h3 class="text-small-banner">PROYECTOS DE COMUNICACIÓN ALTERNATIVA</h3>
    <h3 class="text-small-banner"> AL ALCANCE DE LA MANO</h3>
  </div>
</div>
{% endblock %}

{% block body %}

<div class="ui container" id="main-container">
  <div class="cont-cent">
    <div><span class="subtitle">TODO LO QUE DEBES SABER</span></div>
    <div><h1 class="ui horizontal divider header titulo">¿Qué es Evoca?</h1></div>
  </div>
  <p class="normal-text"><strong>Evoca</strong> es una plataforma digital de libre acceso que permite la creación de proyectos de temática
    socio-ambiental relacionados a un lugar geográfico especifico. La recolección de información para cada
    proyecto se realiza desde la aplicación móvil de <strong>Evoca</strong>, la cual puede ser posteriormente analizada por
    los investigadores a cargo del proyecto, comunidad u otros actores desde la aplicación web. Logrando así contribuir
    a la toma de decisiones en torno a las problematicas abordadas.</p>

  <div class="cont-cent">
    <div><h1 class="ui horizontal divider header titulo">¿Cómo funciona?</h1></div>
    <div><span class="subtitle">PASOS PARA COLABORAR</span></div>
  </div>

  <div class="cont-cent">
    <div><span class="subtitle">¿DESEAS COLABORAR CON REPORTES?</span></div>
  </div>

  <div class="ui four column grid">
    <div class="column cent">
      <img src="/static/img/iconpasos-16.png" alt="" class="ico">
      <div>
        <h4>1. Regístrate en nuestra aplicación móvil</h4>
      </div>
    </div>
    <div class="column cent">
      <img src="/static/img/iconpasos-17.png" alt="" class="ico">
      <div>
        <h4>2. Escoge un proyecto</h4>
      </div>
    </div>
    <div class="column cent">
      <img src="/static/img/iconpasos-18.png" alt="" class="ico">
      <div>
        <h4>3. Inscribete en él</h4>
      </div>
    </div>
    <div class="column cent">
      <img src="/static/img/iconpasos-19.png" alt="" class="ico">
      <div>
        <h4>4. !Colabora¡</h4>
      </div>
    </div>
  </div>

  <div class="cont-cent">
    <div><span class="subtitle">¿DESEAS COLABORAR SIENDO ANALISTA?</span></div>
  </div>

  <div class="ui four column grid">
    <div class="column cent">
      <img src="/static/img/iconpasos-20.png" alt="" class="ico">
      <div>
        <h4>1. Comunícate con el administrador del proyecto en el que deseas colaborar</h4>
      </div>
    </div>
    <div class="column cent">
      <img src="/static/img/iconpasos-21.png" alt="" class="ico">
      <div>
        <h4>2. Ingresa a la plataforma con la información de usuario suministrada por el administrador</h4>
      </div>
    </div>
    <div class="column cent">
      <img src="/static/img/iconpasos-22.png" alt="" class="ico">
      <div>
        <h4>3. Busca el proyecto en la sección "Nuestros Proyectos"</h4>
      </div>
    </div>
    <div class="column cent">
      <img src="/static/img/iconpasos-23.png" alt="" class="ico">
      <div>
        <h4>4. Ayuda analizando los reportes del proyecto</h4>
      </div>
    </div>
  </div>
  <br>
</div>


{% endblock %}


{% block postbody %}
<div class="gray">
  <div class="bod">

    <br>
    <div class="cont-cent"><h1 class="ui horizontal divider header titulo">Nuestros Proyectos</h1></div>
    <div class="ui cards">
      <br>

      {% for channel in object_list %}
        <a class="ui card" href="/{{ channel.slug }}">
          <div class="image">
            <img src="/{{ channel.image }}" alt="">
          </div>
          <div class="content">
            <div class="header">{{ channel.name }}</div>
            <div class="meta">{{ channel.created_at }}</div>
            <div class="description">
              {{ channel.about }}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}
