{% extends "base.html" %}

{% block sub_menu %}
{% endblock %}

{% block body %}
{{user.username}}
<div class = "ui middle aligned center aligned grid contenedor">
  <div class = "column login">
    <form class="ui large form" method="POST">{% csrf_token %}
      <div class = "ui stacked segment">
        <div class="h2cont"><h2>EVOCA Inicio</h2></div>
        <div class="field">
          <div class = "ui left icon input">
            <i class = "user icon"></i>
            <input type="text" name="username" placeholder="Usuario">
          </div>
        </div>
        <div class="field">
          <div class = "ui left icon input">
            <i class = "lock icon"></i>
            <input type="password" name="password" placeholder="Contraseña">
          </div>
        </div>
        <button class = "ui fluid large teal submit button" type="submit">Iniciar Sesión</button>
        <div>¿Has olvidado tu contraseña? <a href="">click aqui</a></div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
