{% load web_client_tags %}
{% block menu %}

<div class="ui borderless green inverted top fixed menu">
  <div class="ui container">
    <a href="/" class="header item">
      EVOCA
    </a>

    <div class="ui dropdown item">
      canales&nbsp;<i class="angle down icon"></i>
      <div class="menu" id="channel-menu">
      </div>
    </div>

    <div class="ui secondary pointing menu">
      <a class="item active">
        Linea de tiempo
      </a>
      <a class="item">
        Mapa
      </a>
      <a class="item">
        Estadísticas
      </a>
    </div>
    <!--<div class="right menu">
      <div class="ui right aligned category search item">
        <div class="ui transparent icon input">
          <input class="prompt" placeholder="Search animals..." type="text">
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>-->

  </div>
</div>

<div class="ui borderless bottom fixed menu">
  <div class="ui container">
     <div class="item">
      EVOCA is licensed under the GNU General Public License v3.0 and available at &nbsp;<a href="https://github.com/jovencoda/evoca-v2">Github</a>
    </div>
  </div>
</div>

{% endblock %}
