{% extends "base.html" %}
{% load web_client_tags %}

{% block header %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
  integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
  crossorigin=""/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.css" crossorigin=""/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.Default.css" crossorigin=""/>

{% endblock %}

{% block title %}# {{ active_channel_name }} | Map{% endblock %}

{% block sub_menu %}

<div class="ui dropdown item">
  <strong>{{ active_channel_name }}</strong>&nbsp;<i class="angle down icon"></i>
  <div class="menu" id="channel-menu">
  </div>
</div>

<div class="ui borderless green inverted stackable menu">
  <a href="/{{ active_channel_slug }}/" class="item">
    Lista de reportes
  </a>
  <a href="/{{ active_channel_slug }}/map/" class="item active">
    Mapa
  </a>
  <a href="/{{ active_channel_slug }}/stats/" class="item">
    Estadísticas
  </a>
</div>

{% endblock%}




{% block prebody %}
<br><br>
<h1 class="ui header titulo" id="channel-header">
  <div class="tit bod">
    <i class="hashtag icon"></i>{{ active_channel_name }}
  </div>
    <div class="sub header verde">

      <div class="bod">

        <div><h3  class="filtertitle">FILTROS</h3></div>

        <div class="filterbar corrizq">
          <span class="filteroption">
            Filtrar por el usuario
            <div class="ui inline dropdown">
              <div class="text">
                {{ filtered_by_user }}
              </div>
              <i class="dropdown icon"></i>
              <div class="menu">
                  <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input placeholder="Buscar usuario..." type="text">
                  </div>
              <div id="user-filter" class="scrolling menu">
                <a class="item map-filter" type="null" style="font-weight:600;">
                  ninguno
                </a>
                  {% for user in channel_users %}
                  <a class="item map-filter" type="author">
                    {{ user }}
                  </a>
                  {% endfor %}
              </div>
              </div>
            </div>
          </span>

          <span class="filteroption">
            Filtrar por Categoría
            <div class="ui inline dropdown">
              <div class="text">
                {{ filtered_by_tag }}
              </div>
              <i class="dropdown icon"></i>
              <div class="menu">
                  <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input placeholder="Buscar usuario..." type="text">
                  </div>
              <div id="tag-filter" class="scrolling menu">
                <a class="item map-filter" type="null" style="font-weight:600;">
                  ninguna
                </a>
                  {% for tag in channel_tags %}
                  <a class="item map-filter" type="tag">
                    {{ tag.slug }}
                  </a>
                  {% endfor %}
              </div>
              </div>
            </div>
          </span>
        </div>

        <!--<div><h4>Cantidad reportes por Categoría</h4></div>

        <div class="countrecords">

          <div class="ui label countlab">
            <span>Acciones comunitarias</span> 100
          </div>
          <div class="ui label countlab">
            <span>Problematicas ciudadanas</span> 15
          </div>
          <div class="ui label countlab">
            <span>Turismo</span> 6
          </div>
          <div class="ui label countlab">
            <span>Basura</span> 6
          </div>
          <div class="ui label countlab">
            <span>Construccion</span> 3
          </div>
          <div class="ui label countlab">
            <span>Movilidad</span> 1
          </div>

          {% for tagInfo in channel_tags_count %}
            {% for key, value in tagInfo.items %}
              <h4>{{key}} - {{value}}</h4>
            {% endfor %}
          {% endfor %}
        </div>-->
      </div>
      </div>
</h1>
{% endblock %}

{% block map %}
<div class="map-wrapper">
  <div id="channel-map" uniqueID="{{ active_channel_ID }}"></div>
</div>

<br>
<br>
<br>
<div class="footer">
  EVOCA is licensed under the GNU General Public License v3.0 - 2017
</div>
{% endblock %}

{% block footer %}
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
  integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
  crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.1.0/dist/leaflet.markercluster.js" crossorigin=""></script>
<script type="text/javascript">
    var api_token = '{% get_api_token %}';
    var mapbox_token = '{% get_map_token %}';
    var mapCenterLocation = '{{ mapCenterLocation }}'.slice(17, -1).split(" ");
    var maxZoom = '{{ maxZoom }}';
    var defaultZoom = '{{ defaultZoom }}';
</script>
<script src="/static/js/map.js"></script>
{% endblock %}
