{% extends "base.html" %}
{% load web_client_tags %}
{% block title %}# {{ active_channel_name }}{% endblock %}

{% block body %}

<h1 class="ui header" id="channel-header"><i class="hashtag icon"></i>{{ active_channel_name }}</h1>

<div class="ui link cards">

  {% for x, y in object_list.items %}
  <h4 class="ui horizontal divider header">
    {{ x }}
  </h4>
  {% for record in y %}

  <div class="ui card">
    <div class="content">
      <div class="right floated meta">{{ record.created_at }}</div>
      <i class="at icon"></i>{{ record.author }}
    </div>

    <div class="image">

      <button class="ui compact labeled icon button green player">
        <i class="play icon"></i>
        Play
        <audio preload="none">
          <source src="{{ record.getAttachedAudio.url }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </button>

      <a><img class="card-img" src="{{ record.getAttachedImage.url }}"></a>
    </div>
    <div class="content">
      {{ record.getLongPlace }}
    </div>

    <div class="extra content" style="height:80px; background-image: url('https://api.mapbox.com/v4/mapbox.outdoors/pin-s-camera+21ba45({{record.getRawLocation}})/{{record.getRawLocation}},13/270x80.png?access_token=pk.eyJ1Ijoiam92ZW5jb2RhIiwiYSI6ImNqNmIyZTYzdDE5YmQydm55eHduY2tqMm0ifQ.Uom9N7tSPmM0hqapPXAfFg');"></div>

    <div class="ui bottom attached green progress"  data-percent="0">
      <div class="bar"></div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
  </div>

{% endblock %}
