{% extends "base.html" %}
{% load web_client_tags %}
{% block title %}# {{ active_channel_name }}{% endblock %}

{% block body %}

<h1 class="ui header"><i class="hashtag icon"></i>{{ active_channel_name }}</h1>


  <div class="ui link cards ">
  {% for record in object_list %}

  <div class="ui card">
    <div class="content">
      <div class="right floated meta">14h</div>
      <i class="spy icon"></i> {{ record.author }}
    </div>
    <div class="image">
      {% for attachment in record.get_Attachments %}
        {% if attachment.attachment_type == 0 %}
        <a><img class="card-img" src="{{ attachment.url }}"></a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="content">
      <i class="map pin icon"></i> {{ record.location }}
    </div>
    <div class="extra content">
      {{ record.about }}
    </div>
  </div>

  {% endfor %}
  </div>

{% endblock %}
