{% extends "base.html" %}
{% load web_client_tags %}
{% block title %}# {{ active_channel_name }}{% endblock %}

{% block body %}



<h1 class="ui header" id="channel-header">

  <i class="hashtag icon"></i>
  <div class="content">
    {{ active_channel_name }}
    <div class="sub header">

      <span>
        Filtrar por el usuario
        <div class="ui inline dropdown">
          <div class="text">
            {{ filtered_by_user }}
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
              <div class="ui icon search input">
                <i class="search icon"></i>
                <input placeholder="Buscar usuario..." type="text">
              </div>
          <div class="scrolling menu">
            <a href="/{{ active_channel_slug }}/" class="item" style="font-weight:600;">
              ninguno
            </a>
              {% for user in channel_users %}
              <a href="/{{ active_channel_slug }}/{{ user }}/" class="item">
                {{ user }}
              </a>
              {% endfor %}
          </div>
          </div>
        </div>
      </span>

      <span>
        Filtrar por la etiqueta
        <div class="ui inline dropdown">
          <div class="text">
            ninguna
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">
              <img class="ui avatar image" src="/images/avatar/small/jenny.jpg">
              Jenny Hess
            </div>
            <div class="item">
              <img class="ui avatar image" src="/images/avatar/small/elliot.jpg">
              Elliot Fu
            </div>
            <div class="item">
              <img class="ui avatar image" src="/images/avatar/small/stevie.jpg">
              Stevie Feliciano
            </div>
            <div class="item">
              <img class="ui avatar image" src="/images/avatar/small/christian.jpg">
              Christian
            </div>
            <div class="item">
              <img class="ui avatar image" src="/images/avatar/small/matt.jpg">
              Matt
            </div>
            <div class="item">
              <img class="ui avatar image" src="/images/avatar/small/justen.jpg">
              Justen Kitsune
            </div>
          </div>
        </div>
      </span>

    </div>
  </div>

</h1>



<div class="ui link cards">

  {% for x, y in object_list.items %}
  <h4 class="ui horizontal divider header">
    {{ x }}
  </h4>
  {% for record in y %}

  <div class="ui card">
    <div class="content">
      <div class="right floated meta">{{ record.created_at }}</div>
      <i class="at icon"></i>{{ record.author }}
    </div>

    <div class="image">

      {% if record.getAttachedAudio.url %}
      <button class="ui compact labeled icon button green player">
        <i class="play icon"></i>
        <span class="audio-label">Reproducir</span>
        <audio preload="none">
          <source src="{{ record.getAttachedAudio.url }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </button>
      {% endif %}

      <a><img class="card-img" src="{{ record.getAttachedImage.url }}"></a>
    </div>
    <div class="content">
      {{ record.getLongPlace }}
    </div>

    {% if record.getTags %}
    <div class="content">
      {% for tag in record.getTags %}
        <a href="/{{ tag.slug }}" class="ui label">{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}
    <div class="extra content" style="height:80px; background-image: url('https://api.mapbox.com/v4/mapbox.outdoors/pin-s-camera+21ba45({{record.getRawLocation}})/{{record.getRawLocation}},15/270x80.png?access_token=pk.eyJ1Ijoiam92ZW5jb2RhIiwiYSI6ImNqNmIyZTYzdDE5YmQydm55eHduY2tqMm0ifQ.Uom9N7tSPmM0hqapPXAfFg');"></div>

    <div class="ui bottom attached green progress"  data-percent="0">
      <div class="bar"></div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
  </div>

{% endblock %}
