{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
  integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
  crossorigin=""/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.css" crossorigin=""/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.Default.css" crossorigin=""/>

{% endblock %}

{% block title %}# {{ active_channel_name }} | Map{% endblock %}

{% block sub_menu %}

<div class="ui dropdown item">
  {{ active_channel_name }}&nbsp;<i class="angle down icon"></i>
  <div class="menu" id="channel-menu">
  </div>
</div>

<div class="ui borderless green inverted menu">
  <a href="/{{ active_channel_slug }}/" class="item">
    Linea de tiempo
  </a>
  <a href="/{{ active_channel_slug }}/map/" class="item active">
    Mapa
  </a>
  <a href="/{{ active_channel_slug }}/stats/" class="item">
    Estadísticas
  </a>
</div>

{% endblock%}

{% block body %}
<h1 class="ui header" id="channel-header">

  <i class="hashtag icon"></i>
  <div class="content">
    {{ active_channel_name }}
    <div class="sub header">

      <span>
        Filtrar por el usuario
        <div class="ui inline dropdown">
          <div class="text">
            {{ filtered_by_user }}
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
              <div class="ui icon search input">
                <i class="search icon"></i>
                <input placeholder="Buscar usuario..." type="text">
              </div>
          <div class="scrolling menu">
            <a href="/{{ active_channel_slug }}/" class="item" style="font-weight:600;">
              ninguno
            </a>
              {% for user in channel_users %}
              <a href="/{{ active_channel_slug }}/user/{{ user }}/" class="item">
                {{ user }}
              </a>
              {% endfor %}
          </div>
          </div>
        </div>
      </span>

      <span>
        Filtrar por la etiqueta
        <div class="ui inline dropdown">
          <div class="text">
            {{ filtered_by_tag }}
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
              <div class="ui icon search input">
                <i class="search icon"></i>
                <input placeholder="Buscar usuario..." type="text">
              </div>
          <div class="scrolling menu">
            <a href="/{{ active_channel_slug }}/" class="item" style="font-weight:600;">
              ninguna
            </a>
              {% for tag in channel_tags %}
              <a href="/{{ active_channel_slug }}/tag/{{ tag.slug }}/" class="item">
                {{ tag.slug }}
              </a>
              {% endfor %}
          </div>
          </div>
        </div>
      </span>

    </div>
  </div>

</h1>
{% endblock%}

{% block wrapper %}
<div class="map-wrapper">
  <div id="channel-map" uniqueID="{{ active_channel_ID }}"></div>
</div>
{% endblock %}

{% block footer %}
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
  integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
  crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.1.0/dist/leaflet.markercluster.js" crossorigin=""></script>
<script src="/static/js/map.js"></script>
{% endblock %}
